{% extends 'base.html.twig' %}
{% block title %}
  Home
{% endblock %}
{% block body %}
  <div>{{ include('components/_breadcrumb.html.twig', { navegacion: [] }) }}</div>
  <div class="container">
    <div class="text-center">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
          <h1 class="cover-heading">{{ name_project }}</h1>
          <p class="lead">{{ descrip_project }}</p>
          <div>
            <div>{{ include('components/_button.html.twig', { opcion: 'confir', text: 'usuario', path: 'app_dashbord'}) }}</div>
          </div>
        </main>
      </div>
    </div>
  </div>
{% endblock %}
