{% extends 'base.html.twig' %}

{% block title %}Error 403
{% endblock %}

{% block body %}
	<div>
		{{ include("components/_breadcrumb.html.twig", 
			{'navegacion':[
				{
					'name':'Home',
					'route':'app_home'
				}
			]}
		)}}
	</div>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Error 403</h1>
			<p>Lo siento, no tienes permiso para acceder a esta página.</p>
		</div>
	</div>
	{{ include("components/_footer.html.twig") }}
{% endblock %}
