{% set id = id|default('')|trim %}
{% set class = class|default('')|join(' ') %}
{% set text = text|default('')|trim %}

{% set path = path|default('') %}
{% set params = params|default({}) %}

{% if path != '' %}
  {% set href = 'href=' ~ path(path, params) %}
{% else %}
  {% set href = 'href=#' %}
{% endif %}

{% if opcion == 'new' %}
  <a class="btn m-2 btn-info {{ class }}" {{ href }} id="{{ id }}">
    Crear
    {{ text }}
  </a>
{% elseif opcion == 'delete' %}
  <a class="btn m-2 btn-danger {{ class }}" {{ href }} id="{{ id }}">
    Borrar
    {{ text }}
  </a>
{% elseif opcion == 'edit' %}
  <a class="btn m-2 btn-success {{ class }}" {{ href }} id="{{ id }}">
    Editar
    {{ text }}
  </a>
{% elseif opcion == 'confir' %}
  <a class="btn m-2 btn-primary {{ class }}" {{ href }} id="{{ id }}">Confirmar</a>
{% elseif opcion == 'cancel' %}
  <a class="btn m-2 btn-warning {{ class }}" {{ href }} id="{{ id }}">Cancelar</a>
{% else %}
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal_info_button">Sin evento {{text}}</button>
{% endif %}
<div>{{ include('components/_modal_info.html.twig', { id: 'modal_info_button', title: 'Informacion', text: 'Este boton no tiene designado ningun href' }) }}</div>

