{% for operacion in operaciones %}
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">{{operacion.name}}</h5>
			<a class="btn btn-primary" href="{{ path(operacion.route )}}">{{operacion.descrip}}</a>
		</div>
	</div>
{% endfor %}
