<footer class="mt-auto position-absolute " style="bottom: 0; left: 0 ; right: 0; z-index: -1;">
	<div class="inner position-relative ">
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 320">
			<path fill="#273036" fill-opacity="1" d="M0,160L80,181.3C160,203,320,245,480,266.7C640,288,800,288,960,256C1120,224,1280,160,1360,128L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
		</svg>
	</div>
</footer>
