{% set id = id|default('')|trim %}
{% set title = title|default('')|trim %}
{% set text = text|default('')|trim %}

<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">{{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">{{text}}</div>
    </div>
  </div>
</div>
