{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div>
		{{ include("components/_breadcrumb.html.twig", 
			{'navegacion':[
				{
					'name':'Dashbord',
					'route':'app_dashbord'
				}
			]}
		)}}
	</div>
	<div class="container">
		<div class="card-deck">
			{#{ include("components/_card.html.twig", 
				{'operaciones':[
					{
						'name':'Usuario',
						'descrip':'Operaciones',
						'route':'main'
					}
				]}
			)}}
            {{ include("components/_card.html.twig", 
				{'operaciones':[
					{
						'name':'Citas',
						'descrip':'Operaciones',
						'route':'citas'
					}
				]}
			)}#}
	</div>
</div>
{% endblock %}
